/* myStyle.css */
}
h1 {
	font-family: "Helvetica"
	font-style: bold;
	color: #0061ff;
	font-size: 30em
}
h3 {
 font-family: "Helvetica";
 font-style: bold;
 color: #0061ff;
 font-size: 15px

}
p {
font-family: "Calibri";

}